<div class="container">
  <!--container-->

  <h3>{{currentWeather.city}}, {{currentWeather.country}}</h3>
  <!--circle-->
  <div class="circle gradient">
    <div class="cirlce-content">
      <i class="owf owf-{{currentWeather.icon}} owf-5x"></i>
      <h1>{{currentWeather.currentTemperature}}</h1>
      <h3>{{currentWeather.description}}</h3>
      <h5>{{currentWeather.minTemperature}} <span class="icon is-large"><i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i></span>        {{currentWeather.maxTemperature}}</h5>
    </div>
  </div>

  <!--button-->
  <div>
    <button class="button" (click)="changeTemp(tempIsCelsius)">{{degreeBtnText}}</button>
  </div>

  <!--footer-->
  <footer class="page-footer">
    <div>
      <p>
        This is a project for Free Code Camp. It is made with Angulat 2, CSS, and served thanks to GitHub Pages. I used Poppins font
        from <a href="https://fonts.google.com/specimen/Poppins">GoogleFonts. </a> The weather data is served thanks
        to <a href="https://openweathermap.org/">Open Weather Map </a>, and the icons are from <a href="https://websygen.github.io/owfont/">OpenWeatherFont</a>        and <a href="http://fontawesome.io/">Font Awesome</a>
      </p>
      <p>
        <a href="http://fabiolavieyra.com/">fabiolavieyra.com</a>
      </p>
    </div>
  </footer>

  <!--container-->
</div>
